@font-face {
    font-family: 'Norse-Bold';
    src: url('fonts/Norse-Bold.otf');
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

.left {
    flex: 1;
}

.right {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.left, .right {
    height: 100vh;
}


.left {
    background-image: url("images/coffee.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 335px;
}

.bar {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Norse-Bold';
    margin-top: 250px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 3rem;
    white-space: nowrap;
}

.top {
    font-size: 1.7rem;
    height: 225px;
    padding: 45px 150px 45px 45px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-width: 300px;
    background-color: #EBEBEB;
}

.top-text {
    max-width: 1000px;
}

.bottom-text {
    padding-top: 40px;
}